name: Deploy - Production

run-name: "${{ inputs.git_ref }} | Terraform Apply? = ${{ inputs.is_deployment }}"

on:
  workflow_dispatch:
    inputs:
      git_ref:
        description: "The git_ref to deploy"
        type: string
        default: main
      is_deployment:
        description: "Do you want to run Terraform Apply?"
        type: boolean
        default: false

permissions:
  pull-requests: write
  id-token: write
  contents: read

jobs:
  infra_terraform_plan_and_apply:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        terraform_stack:
          - name: "container_repositories"
            hyphenated_alias: "container-repositories"
          - name: "base_support"
            hyphenated_alias: "base-support"
          - name: "base_networking"
            hyphenated_alias: "base-networking"
          - name: "ecs_cluster"
            hyphenated_alias: "ecs-cluster"
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: ${{ matrix.terraform_stack.name }}
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: ${{ matrix.terraform_stack.hyphenated_alias }}
    secrets: inherit

  transfer-classifier:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: transfer_classifier
      has_image: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "transfer-classifier"
    secrets: inherit

  validate_metrics:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: validate_metrics
      build_lambda: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "validate-metrics"
    secrets: inherit

  ods-downloader:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: ods_downloader
      has_image: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "ods-downloader"
    secrets: inherit

  reports-generator:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: reports_generator
      has_image: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "reports-generator"
    secrets: inherit

  spine-exporter:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: spine_exporter
      has_image: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "spine-exporter"
    secrets: inherit

  metrics-calculator:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: metrics_calculator
      has_image: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "metrics-calculator"
    secrets: inherit

  email-and-alerting:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: email_and_alerting
      build_lambda: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "email-and-alerting"
    secrets: inherit

  gp2gp-dashboard:
    needs: [infra_terraform_plan_and_apply]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: gp2gp_dashboard
      has_image: true
      build_lambda: true
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "gp2gp-dashboard"
    secrets: inherit

  step-function:
    needs:
      [
        gp2gp-dashboard,
        email-and-alerting,
        metrics-calculator,
        spine-exporter,
        reports-generator,
        ods-downloader,
        validate_metrics,
        transfer-classifier,
      ]
    uses: ./.github/workflows/base-deploy-to-production.yml
    with:
      is_deployment: ${{ inputs.is_deployment }}
      terraform_stack: step_function
      git_ref: ${{ inputs.git_ref }}
      hyphenated_alias: "step-function"
    secrets: inherit
